.left-sidebar-contact-or-group-profile {
  background-color: var(--color-bg);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-sidebar-contact-or-group-profile h1 {
  margin: 0;
  padding: 1rem;
  color: var(--color-text);
}

.left-sidebar-contact-or-group-profile .info-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.left-sidebar-contact-or-group-profile .info-inputs {
  display: flex;
  height: 90%;
  width: 70%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.left-sidebar-contact-or-group-profile .shared-files-placeholder {
  visibility: hidden;
}

.left-sidebar-contact-or-group-profile .group-members,
.left-sidebar-contact-or-group-profile .shared-groups {
  max-height: 11vh;
  overflow-y: auto;
}

.left-sidebar-contact-or-group-profile .group-members::-webkit-scrollbar,
.left-sidebar-contact-or-group-profile .shared-groups::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.left-sidebar-contact-or-group-profile .group-members::-webkit-scrollbar-thumb,
.left-sidebar-contact-or-group-profile .shared-groups::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--color-message-received);
  border-radius: 10px;
}

.left-sidebar-contact-or-group-profile .shared-files {
  margin-top: -0.5rem;
  width: 100%;
  min-height: 3.5rem;
  max-height: 22.5vh;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  overflow-y: auto;
}

.left-sidebar-contact-or-group-profile .shared-files::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.left-sidebar-contact-or-group-profile .shared-files::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--color-message-received);
  border-radius: 10px;
}

.left-sidebar-contact-or-group-profile .shared-file {
  width: 33%;
}

.left-sidebar-contact-or-group-profile .shared-file .image-container img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 10px;
}

.left-sidebar-contact-or-group-profile .shared-file .file-container {
  position: relative;
  background-color: var(--color-accent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

.left-sidebar-contact-or-group-profile
  .shared-file
  .file-container
  .file-icon-container,
.left-sidebar-contact-or-group-profile
  .shared-file
  .file-container
  .download-icon-container-link,
.left-sidebar-contact-or-group-profile
  .shared-file
  .file-container
  .download-icon-container,
.left-sidebar-contact-or-group-profile
  .shared-file
  .file-container
  .download-icon {
  position: absolute;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-sidebar-contact-or-group-profile
  .shared-file
  .file-container
  .file-icon-container {
  opacity: 0.2;
}

.left-sidebar-contact-or-group-profile
  .shared-file
  .file-container
  .download-icon {
  border-radius: 50%;
  border: 1px solid var(--color-message-received);
  background-color: var(--color-accent);
  color: white;
}

.left-sidebar-contact-or-group-profile
  .shared-file
  .file-container
  .download-icon-container-link {
  opacity: 0;
  color: var(--color-message-received);
  transition: all 0.3s ease-in-out;
}

.left-sidebar-contact-or-group-profile
  .shared-file
  .file-container
  .download-icon-container-link:hover {
  opacity: 1;
}

.left-sidebar-contact-or-group-profile .shared-file .file-container .file-name {
  display: flex;
  text-align: center;
  font-size: 0.75rem;
  color: var(--color-text);
}

.left-sidebar-contact-or-group-profile .footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.left-sidebar-contact-or-group-profile .info-input-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.left-sidebar-contact-or-group-profile .info-input-container .label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}

.left-sidebar-contact-or-group-profile .info-input {
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--color-message-received);
  border: none;
  color: var(--color-text);
}

.left-sidebar-contact-or-group-profile .info-input.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.left-sidebar-contact-or-group-profile .info-button,
.left-sidebar-contact-or-group-profile .logout-button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
}

.left-sidebar-contact-or-group-profile .info-button {
  background-color: var(--color-accent);
}

.left-sidebar-contact-or-group-profile .logout-button {
  background-color: rgb(158, 24, 24); /* Can optionally convert this to a --color-danger if you define one */
}

.left-sidebar-contact-or-group-profile .info-button:hover,
.left-sidebar-contact-or-group-profile .logout-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.left-sidebar-contact-or-group-profile .profile-image {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.left-sidebar-contact-or-group-profile .profile-image.group {
  font-size: 5rem;
  border: 2px solid var(--color-accent);
  background-color: var(--color-message-received);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-sidebar-contact-or-group-profile .contact-info {
  display: flex;
  align-items: center;
}

.left-sidebar-contact-or-group-profile .contact-info-divider-container {
  display: inline-block;
}

.left-sidebar-contact-or-group-profile .contact-info-divider {
  margin: -1rem 0;
  height: 2rem;
  border: 1px solid var(--color-accent);
}
