/* theme.css */

:root {
  --color-bg: #f4f6f9;                 /* Light gray background for body */
  --color-accent: #4F46E5;            /* Indigo - for buttons/links */
  --color-message-sent: #ffffff;      /* White - for form containers */
  --color-message-received: #e2e8f0;  /* Light gray for input fields */
  --color-text: #1F2937;              /* Gray-800 - dark readable text */
}


/* body {
  background-color: var(--color-bg);
  color: var(--color-text);
} */
