.reset-app {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.reset-app .reset-app-modal {
  background-color: var(--color-message-sent);
  border: 2px solid var(--color-message-received);
}

.reset-app .modal-title {
  border-bottom: 1px solid var(--color-message-received);
  color: var(--color-text);
}

.reset-app .modal-title .red {
  color: var(--color-danger);
}

.reset-app .modal-content {
  color: var(--color-text);
}

.reset-app .reset-app-button,
.reset-app-content input {
  background-color: var(--color-message-sent);
  border: 0.125rem solid var(--color-message-received);
  color: var(--color-text);
}

.reset-app .reset-app-button:hover,
.reset-app-content input:hover {
  border: 0.125rem solid var(--color-bg);
}

.reset-app .modal-buttons button {
  background-color: var(--color-message-received);
  border: 0.125rem solid var(--color-bg);
  color: var(--color-text);
}

.reset-app .modal-buttons .cancel-button {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}

.reset-app .modal-buttons .reset-button {
  background-color: var(--color-message-received);
  border-color: var(--color-message-sent);
}
