.message-container {
  padding: 1rem 6rem;
  background-color: var(--color-bg);
  border-left: 1px solid #222e35;
  height: 100%;
  background-image: url('/src/assets/chat-bg.png');
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 0.5rem;
  position: relative;
}

.message-container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.message-container::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--color-bg);
}

.message-container .general-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  padding: 1rem;
}

.message-container .general-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.message-container .general-date-line {
  border: 1px solid #222e35;
  width: 40%;
  height: 0;
}

.message-container .general-date-line.left {
  margin-left: -4rem;
  margin-right: 4rem;
}
.message-container .general-date-line.right {
  margin-right: -4rem;
  margin-left: 4rem;
}

.message-container .message {
  display: flex;
  position: relative;
}

.message-container .message.own-message {
  justify-content: right;
}

.message-container .message.contact-message {
  justify-content: left;
}

.message-container .message-content {
  max-width: 60%;
  word-wrap: break-word;
  width: max-content;
  height: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  font-size: 1rem;
}

.message-container .own-message-content {
  background-color: white ;
}

.message-container .contact-message-content {
  background-color: white ;
}

.message-container .timestamp-container {
  display: flex;
  justify-content: right;
  position: relative;
  margin-top: 0.125rem;
  margin-bottom: -0.125rem;
}

.message-container .group-message .group-message-contact-info-above-content {
  display: flex;
  justify-content: left;
  font-size: 0.875rem;
}

.message-content .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-content .file-container {
  display: flex;
  position: relative;
}

.message-container .file-container .file-icon-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-content .file-container .file-name {
  width: 60%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 0.25rem;
}
.message-container .file-container .download-icon-container-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.message-container .file-container .file-icon-container {
  font-size: 3rem;
}

.message-container .file-container .file-icon,
.message-container
  .file-container
  .download-icon-container-link
  .download-icon-container,
.message-container
  .file-container
  .download-icon-container-link
  .download-icon-container
  .download-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container .message-content .timestamp-container .message-timestamp {
  font-size: 0.625rem;
  opacity: 0.5;
}

.message-container
  .message-content
  .timestamp-container.file-timestamp
  .message-timestamp,
.message-container
  .message-content
  .timestamp-container.image-timestamp
  .message-timestamp {
  position: absolute;
  bottom: 0.125rem;
  font-size: 0.625rem;
  opacity: 1;
}

.message-container .own-message-content .user-pointer {
  z-index: -1;
  position: absolute;
  font-size: 2.5rem;
  top: -0.623rem;
  right: 0%;
  margin-right: -0.8rem;
  /* color: #415763; */
  color: var(--color-message-sent);
  transform: rotate3d(1, 1, 0, 180deg);
}

.message-container .contact-message-content .user-pointer {
  z-index: -1;
  position: absolute;
  font-size: 2.5rem;
  top: -0.623rem;
  left: 0%;
  margin-left: -0.8rem;
  color: var(--color-message-sent);

  transform: scaleX(-1) rotate3d(1, 1, 0, 180deg);
}

.group-message .contact-avatar,
.group-message .contact-avatar .no-avatar,
.group-message .contact-avatar .avatar img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-message .contact-avatar .avatar img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}
.group-message .contact-avatar .no-avatar {
  font-size: 0.875rem;
}

.group-message .contact-avatar {
  z-index: 5;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-bg);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -2.5rem;
}

.message-container .file-container .download-icon-container {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #e9edef;
}

.message-container .file-container .download-icon-container:hover {
  display: flex;
  justify-content: center;
   background-color: var(--color-bg);
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #007c4b;
}

/* .message-container .loading-chat-messages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  font-size: 2rem;
} */

.message-container .scroll-ref {
  margin-top: -0.25rem;
}
