.request-chat {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  gap: 1rem;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.request-chat:hover {
 background-color: var(--color-message-received); /* Slight highlight on hover */
  cursor: pointer;
}

.request-chat .container {
  display: flex;
  width: 100%;
}
.request-chat .inner-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.request-chat .inner-most-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.request-chat .inner-container .last-message {
  border-bottom: 1px solid #30363d;
}

.request-chat .chat-header-info-avatar {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-chat img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}

.request-chat .chat-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 45%;
  color: var(--color-text);
}

.request-chat .img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  object-fit: cover;
}
.request-chat .img.non-present {
  border: 2px solid #30363d;
}

.request-chat .last {
  padding-bottom: 1rem;
  color: #8b949e;
  font-size: 0.625rem;
}

.request-chat .request-chat-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 40%;
  margin-top: -1rem;
}

.request-chat .request-chat-icons .icon.approve {
  background-color: #2ea04333;
  width: 2rem;
  height: 2rem;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 5px solid transparent;
  border-radius: 50%;
}
.request-chat .request-chat-icons .icon.reject {
  background-color: #ff4b2b33;
  width: 2rem;
  height: 2rem;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 5px solid transparent;
  border-radius: 50%;
}
.request-chat .request-chat-icons .icon.approve:hover {
  background-color: #2ea043;
  border: 2px solid #2ea043;
}
.request-chat .request-chat-icons .icon.reject:hover {
  background-color: #ff4b2b;
  border: 2px solid #ff4b2b;
}
